.App {
  padding: 20px;
}

.weather-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.weather-day{
  padding: 0 20px;
  min-width: 150px;
}

.weather-day.active{
  border: 1px solid #ccc;
}

select{
  padding: 5px;
  font-size: 16px;
}