.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.container-footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.container-footer .footer-p{
    padding: 5px;
    cursor: pointer;
    border-radius: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    color: #999;
}

.container-footer .footer-p:hover{
    background-color: #fff;
    outline: 1px solid #eee;
}

.container-footer .footer-p.active{
    background-color: #fff;
    text-decoration: underline;
    outline: 1px solid #eee;
}