body{
    text-align: center;
    font-family: sans-serif;
}
ul,ol{
    list-style-position: inside;
}
span{
    color:rgb(170, 170, 25);
    font-weight: bold;
}
h2{
    color: purple;
}
a{
    margin:0 10px;
}
h1{
    color: red;
}
img{
    width: 300px;
}
ol>li{
    margin-bottom: 20px;
}
.text-left{
    text-align: left;
}