body{
  background-color: #F3F2EE !important;
}
.m-header{
  position: sticky;
  top: 0;
  z-index: 20;
}

.search-input{
  width: 200px !important;
  height: 30px !important;
  padding-left: 30px !important;
}

.search-icon{
  position: relative;
  left: 23px;
  width: 13px;
}
.search-input:focus + .search-icon{
  display: none !important;
}

.menu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-item p{
  font-size: smaller !important;
  padding: 0 15px !important;
}

.current-item{
  border-bottom:  2px solid black;
}

.menu-item a:hover +  .menu-item>p, .menu-item>svg{
  color: black !important;
}
.menu-item img{
  border-radius: 100%;
}
.premium{
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgb(216, 216, 216);
  border-top: #BB7B65 5px solid;

}
.premium .premium-bg img{
  object-fit: cover;
  width: 100%;
  height: 80px !important;
  object-position: center center;
  opacity: 0.7;
}

.premium-bg{
  background-color: black;
}

.premium-avatar{
  position: relative;
  top: -20px;
  width: 100%;
  margin: -10px auto;
  text-align: center;
}

.premium-avatar img{
  width: 60px;
  height: 60px;
  border: 2px white solid;
  border-radius: 100%;
}

.premium-title{
  text-align: center;
}

.premium-title h2{
  font-size: medium !important;
  font-weight: bold;
}

.premium-title h2:hover{
  text-decoration: underline;
  cursor: pointer;
}

.premium-title  p{
  padding-bottom: 10px;
  font-size: small !important;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.premium-buttons{
  font-size: small;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 10px;
}
.premium-buttons-item p{
  padding: 0 !important;
  margin: 0 !important;
}
.premium-buttons-item:hover{
  background-color: gray !important;
}

.premium-but{
  font-size: small;
}
.premium-but>div:nth-child(1){
  font-size: small;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.groups{
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgb(216, 216, 216);
  margin-top: 15px;
  font-size: small;
  padding: 12px;
}
.groups>p{
  font-weight: bold;
  font-size: 0.8rem;
}

.groups p{
  padding: 0 !important;
  margin: 0 !important;
}

.tweet{
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgb(216, 216, 216);
  padding: 15px;
}

.tweet img{
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 15px;
}

.tweet input{
  height: 40px;
  width: 100%;
  border-radius: 60px;
  border: 1px solid rgb(216, 216, 216);
  padding-left: 15px;
  font-weight: bold;
}
.tweet div{
  align-items: center;
}

.button-t{
  display: flex;
  align-items: center;
}
.buttons-t{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.button-t:hover{
  background-color: rgb(216, 216, 216);;
  border-radius: 20px;
  cursor: pointer;
}

.hr{
  padding: 7px 0;
}

.hr p{
  width: 35%;
  margin: 0;
  padding:0;
  font-size: smaller;
}

.hr-p{
  width: 65% !important;
  height: 1px;
  background-color: rgb(216, 216, 216);
}
.main-c-header{
  font-size: small !important;
}

.main-c-header p{
  padding: 0;
  margin: 0;
}
.main-c-header img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 10px;
}
.main-c-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-card{
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgb(216, 216, 216);
}

.right-card{
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgb(216, 216, 216);
}