body{
    text-align: center;
    padding: 0 20px;
}
.container{
    min-width: 800px;
    margin: 0 auto;
}
.container img{
    padding-top: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80px;
}
.footer>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer>div:nth-child(1){
    background-color: #7EE5DA;
    border-right: 1px solid white;
    height: 100%;
    width: 39%;
}
.footer>div:nth-child(2){
    background-color: #70CCC2;
    height: 100%;
    width: 20%;
}
.footer>div:nth-child(3){
    background-color: #62B3AA;

    border-left: 1px solid white;
    height: 100%;
    width: 39%;
}
.main{
    width: 99%;
    background-color: #EEEEEE;
    border: 3px solid white;
}
.main input{
    width: 40%;
}