.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.palatte{
  display: flex;
  flex-direction: column;
}

.palatte button{
  margin-top: 10px;
}

h1{
  padding: 4px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
}